<%- include('../../partials/head', { cssFile: 'small-business.css' }) %>
<%- include(`../../partials/navigation/admin`) %>

  <!-- Page Content -->
  <div class="container">
    <!-- Content Row -->
    <div class="row my-5">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <h4>
                  <i class="fas fa-user mr-2"></i>
                  New User
                </h4>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <% if (flashes.all) { %>
                  <% flashes.all.forEach(flash => { %>
                    <div class="alert alert-dismissible alert-<%= flash.style %>">
                      <button type="button" class="close"
                        data-dismiss="alert" aria-hidden="true">&times;</button>
                      <strong><%= flash.intro %></strong> <%= flash.message %>
                    </div>
                  <% }) %>
                <% } %>

                <form method="POST">
                  <div class="form-group row">
                    <label for="username" class="col-4 col-form-label">User Name*</label>
                    <div class="col-8">
                      <input id="username" name="username" class="form-control here"
                        required="required" type="text" value="<%= user.username %>">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="name" class="col-4 col-form-label">First Name*</label>
                    <div class="col-8">
                      <input id="name" name="firstname" class="form-control here"
                        required  type="text" value="<%= user.tempFirstname !== undefined ? user.tempFirstname : user.firstname %>">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="lastname" class="col-4 col-form-label">Last Name*</label>
                    <div class="col-8">
                      <input id="lastname" name="lastname" class="form-control here"
                        required type="text" value="<%= user.tempLastname !== undefined ? user.tempLastname : user.lastname %>">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="text" class="col-4 col-form-label">Nick Name*</label>
                    <div class="col-8">
                      <input id="text" name="nickname" class="form-control here"
                        required="required" type="text" value="<%= user.nickname %>">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-4 col-form-label">Email*</label>
                    <div class="col-8">
                      <input id="email" name="email" class="form-control here" required="required"
                        type="email" value="<%= user.email %>">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="website" class="col-4 col-form-label">Website</label>
                    <div class="col-8">
                      <input id="website" name="website" class="form-control here" type="text" value="<%= user.website %>">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="publicinfo" class="col-4 col-form-label">Public Info</label>
                    <div class="col-8">
                      <textarea id="publicinfo" name="publicinfo" cols="40" rows="4" class="form-control"><%= user.publicinfo %></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="password" class="col-4 col-form-label">Password*</label>
                    <div class="col-8">
                      <input id="password" name="password" class="form-control here"
                      type="password" required="required" value="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="role" class="col-4 col-form-label">Role</label>
                    <div class="col-8">
                      <select class="form-control here" id="role" name="role">
                        <option value="student" <%= user.role === 'student' ? 'selected' : '' %> >student</option>
                        <option value="teacher" <%= user.role === 'teacher' ? 'selected' : '' %> >teacher</option>
                        <option value="admin" <%= user.role === 'admin' ? 'selected' : '' %> >admin</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="active" class="col-4 col-form-label">Active</label>
                    <div class="col-8">
                      <select class="form-control here" id="role" name="active">
                        <option value="true" <%= user.active ? 'selected' : '' %> >true</option>
                        <option value="false" <%= user.active ? '' : 'selected' %>>false</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-4 col-8 text-right">
                      <button name="submit" type="submit" class="btn btn-success mr-2">
                        <i class="fas fa-save mr-2"></i>
                        Create User
                      </button>
                      <button name="submit" type="button" class="btn btn-warning" onclick="location.href='';">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

<%- include('../../partials/footer') %>